container_commands:
   00_migrate:
      command: "php /var/app/ondeck/artisan migrate --force"
      leader_only: true
   01_seed:
      command: "php /var/app/ondeck/artisan db:seed --force"
      leader_only: true
   02_cache:
      command: "php /var/app/ondeck/artisan cache:clear"
   04_permissions:
      # fix permissions on the Laravel app folder
      command: "chmod 777 -R /var/app/ondeck"